<table style="width:100%">
  <tr>
    <th>Demo Table</th> <input type="text" placeholder="Search All" [(ngModel)]="inputText" (change)="filterData()">
  </tr>
  <tr>
    <th>Id</th>
    <th>ECN</th>
    <th>Name</th>
    <th>Business</th>
    <th>Department</th>
    <th>Band</th>
  </tr>
  <tr *ngFor="let data of response | filter: inputText" style="text-align: center;">
    <td>{{data.employeeId}}</td>
    <td>{{data.ecn}}</td>
    <td>{{data.empName}}</td>
    <td>{{data.business}}</td>
    <td>{{data.department}}</td>
    <td>{{data.band}}</td>
  </tr>
</table>